body {
  background:url(../img/guatemala_fondo.jpg) no-repeat top;
  background-attachment: fixed;
  }
  .nav-wapper {
    height: 90px;
    padding-top: 10px;
    line-height: 70px;
    background-color: #42a5f5 !important;
  }
  .container  {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .container .row {
    margin: 0 auto;
  }
