html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

body {
  background:url(../img/guatemala_fondo.jpg) no-repeat top;
  background-attachment: fixed;
  }

  .Size-Icons {
    font-size: 48px;
    color: white;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: #1565C0;
    padding: 0px 10px 0px 10px;
   }

  .nav-wapper {
    height: 90px;
    padding-top: 10px;
    line-height: 70px;
    background-color: #42a5f5 !important;
  }
  .img-art-g {
    padding: 5px 5px 5px 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #42a5f5;
  }

  p {
    padding-top: 20px;
  }

.chip {
  margin-top: 10px;
}

.comentario {
  color: white;
  background-color: #42a5f5;
}
